@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;800&display=swap');

body {
    margin: 3rem 0 0 5rem;
    background-image: url(./images/stethoscope.png);
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
    background-color: rgba(24, 116, 152, 10%);
    max-width: 100%;
}
main {
    max-width: inherit;
}
nav {
    display: flex;
}
.logo {
    cursor: pointer;
}
.list {
    position: absolute;
    right: 5rem;
}
.list-item {
    display: inline;
    font-weight: bold;
    font-size: 1.25rem;
    margin-right: 2.5rem;
    cursor: pointer;
}
.item1 {
    color: #52de97;
}
.hero {
    display: flex;
    position: relative;
    margin-top: 2%;
}
.hero-text {
    position: relative;
    margin-top: 5%;
    max-width: 65%;
}
.heading {
    font-weight: 800;
    font-size: 5rem;
    margin-top: 0;
    margin-bottom: 1.5rem;
}
.description {
    font-weight: 300;
    font-size: 1.5rem;
    color: grey;
    margin-top: 0;
}
.btn {
    background-color: #52de97;
    border: none;
    border-radius: 2.5rem;
    color: #fff;
    padding: 1.25rem 3.5rem;
    font-weight: bold;
    font-size: 1.75rem;
    cursor: pointer;
    margin-top: 1rem;
}
.bottom {
    position: relative;
    width: inherit;
}

.bottomAngle {    
    position: absolute;    
    right: 3.5rem;
    bottom: 0;
}
.mouse {
    position: absolute;
    margin-top: 1.5rem;
    right: 0;
}
.hero-img {
    position: relative;
    
}

.image1 {
    position: absolute;
    top: 22%;
    width: 36rem;
    right: 1rem;
}
.image2 {
    position: absolute;
    top: 25%;
    right: -3px;
    width: 33rem;
}
.image3 {
    position: relative;    
    width: 37rem;
}
